{% extends "layout.html" %}
{% block content %}

  <p><h2 class="card-title">Results: </h2></p>
  <p></p>
  <p><h5 class="card-title">Search Results for category "{{ query }}" and rate "{{ rate }}"</h5></p>
  <p></p>

  {% for item in query_result %}
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="test">
              <h5 class="card-title">Video: {{ item['videoID'] }}</h5>
              <p class="card-text">
                <p>Uploader: {{ item['uploader'] }}</p>
                <p>Category: {{ item['category'] }}</p>
                <p>Views: {{ item['views'] }}</p>
                <p>Rate: {{ item['rate'] }}</p>
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <p></p>
  {% endfor %}

{% endblock content %}
